body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Styles for the pagination Buttons in TrucksTable.js */
.paginationButton {
  /* width: 80%; */
  /* height: 40px; */
  list-style: none;
  display: flex;
  /* justify-content: center; */
  margin: 0;
  margin-left: 187px;
  /* margin-top: -40px; */
  justify-content: flex-end;
  /* flex: unset; */
  margin-top: 20px;
}

.paginationButton a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #10c02e;
  color: #ad8d7c;
  cursor: pointer;
}

.paginationButton a:hover {
  color: white;
  background-color: #2b2eff;
}

.paginationActive a {
  color: white;
  /* background-color: #2b2eff; */
}

.paginationDisabled a {
  color: white;
  background-color: grey;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0px;
  margin-top: 5px;
  margin-right: 15px;
}

.visibility{
  position: absolute;
  right: 0px;
  cursor: pointer;
  color: #242b88;
  font-size: 4rem;
  font-size: 50px;
  margin-right: 26px;
}

@media screen and (max-width: 992px){
  .header-container .navbar-nav.theme-brand .theme-logo img {
     display: none;
  }
}

@media screen and (max-width: 600px){
  .header-container .navbar-nav.theme-brand .theme-logo img {
     display: none;
  }
}